#tagline {
    font-size: 84px;
    word-spacing: 1px;
    line-height: 90px;
    text-transform: none;
    letter-spacing: -3px;
    color: #181818;
    text-align: center;
    margin: .95em 0 0;
    font-weight: 300;
}

.contactimage {
    font-size:60px;
    color:#ffffff;
    text-shadow:2px 2px 4px #000000;
    width:70px;
    height:70px;
    padding-top: 25px;
}

.contactinfo{
    text-shadow:2px 2px 4px #000000;
    font-size:20px;
    font-family: 'Roboto',serif;
}
