<!DOCTYPE html>
<html>
<title>Komunitas Titit FISIP UI</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Komunitas Titit FISIP UI</a>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Contact</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Services</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Project</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right">Achievement</a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large">Achievement</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large">Project</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large">Services</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Contact</a>
</div>

<!-- Page content -->
<br></br>
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="img/4.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>UI ART WAR 2014</b></h3>
      <h5>Membawa pulang juara 1 tari, <span class="w3-opacity">May 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>UI Art War merupakan salah satu program kerja dari Departemen Seni dan Budaya Badan Eksekutif Mahasiswa UI yang selalu mendapatkan respon positif setiap tahunnya. Sebagai acara seni terbesar se-UI ini UI Art War selalu mendapatkan respon yang luar biasa dari seluruh kalangan civitas UI.</p>

	<p>Pada tahun ini, UI Art War mengangkat tema “Karya Selaras Rupa”. Melalui tema ini, panitia UI Art War berharap agar setiap insan di UI dapat mengembangkan bakat seni yang terpendam untuk dapat diwujudkan dalam karya yang selaras dengan imaji tiada batas. Kegiatan ini rutin diikuti oleh 14 Fakultas di UI, di antaranya; Fakultas Kedokteran, Fakultas Kedokteran gigi, Fakultas Hukum, Fakultas Ilmu Sosial dan Politik, Fakultas Kesehatan Masyarakat, Fakultas Psikologi, Fakultas Ilmu Pengetahuan Budaya, Fakultas Ekonomi, Fakultas Matematika dan Ilmu Pengetahuan Alam, Fakultas Ilmu Keperawatan, Fakultas Teknik, Fakultas Ilmu Komputer, Fakultas Vokasi, Fakultas Farmasi.</p>

	<p>Sebagai salah satu peserta dalam acara UI Art War ini, kami Komunitas Tari Fisip Universitas Indonesia ( KTF UI ) juga memberikan andil sebagai wakil dari FISIP UI dalam menyumbangkan sebuah karya seni berupa tarian tradisional yang dipadu dengan tari modern dan kontemporer dan diiringi dengan musik live. Dengan bangga kami mempersembahkan karya kami yang berjudul “ Dzahab Najwan ”.</p>
	<p>“Dzahab Najwan” merupakan sebuah tari kreasi yang diadaptasi dari daerah Melayu yang kental dengan nuansa Islami. Tarian ini merupakan hasil kreasi kolaborasi antara tari dan tatanan musik dari Kak Jamilah Siregar sebagai penata gerak dan Bang Imam Firmansyah sebagai penata musik. Tarian ini meceritakan tentang keharmonisan dan kedinamisan umat manusia dalam kehidupan bermasyarakat sehingga menghasilkan satu paham tauladan yang mengajarkan hidup secara damai dan tentram. Adanya keberagaman tiap individu dalam berekspresi tidak menjadikannya hambatan, namun keberagaman itu menjadi pemersatu sebagai keutuhan dalam sebuah karya. Secara garis besar, tarian ini menggambarkan bahwa kita dapat mengekspresikan seni secara bebas tidak terpaku dalam kondisi yang kaku dan terbatas. Adanya perbedaan dalam mengekspresikan seni justru menjadi alat pemersatu.</p>
	<p>Dan yang sangat membanggakan bagi kami adalah bisa membawa pulang piala sebagai Juara I Tari dalam acara seni UI Art War 2014 ini. Semua ini dapat tercapai berkat usaha maksimal dari para penari dan pemusik serta bantuan dari semua crew yang terlibat dalam

menyukseskan penampilan ini.</p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
	<p></p>
      <div class="w3-row">
      </div>
    </div>
  </div>
  <hr>

</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
	  <div class="w3-center">
        <img src="img/mod.jpg" class="w3-border w3-circle" alt="Random Name" style="padding:4px;width:60%">
		<p>Modern</br>dance</p>
      </div>
    <div class="w3-container w3-white">
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>

  <!-- Posts -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Dorum</span><br>
        <span>Ultricies congue</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- End Page Content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
